# SPDX-License-Identifier: GPL-3.0-or-later
# Install as /etc/udev/rules.d/60-checkme-o2.rules, then reload udev rules.
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1915", ATTRS{idProduct}=="f33d", MODE="0660", TAG+="uaccess"
